html,
body {height: 100%;}

/* ============================ Обертка для прижатия футера */
.wrap {min-height: 100%;}

.wrap:after {
	display: block;
	content: '';
	height: 100px;
}

/* ============================ Шапка */
#header {}

/* ============================ Логотип */
.logo {}

/* ============================ Контакты в шапке */
#headerContacts {}

/* Телефон */
.tel {}

/* ============================ Верхнее меню */
#topMenu {}

#topMenu a {
	display: block;
	text-decoration: none;

	transition: all .2s ease-in-out;
}

#topMenu li:hover > a,
#topMenu li.cms_tree_current > a {}

/* Выпадающий список */
#topMenu ul ul {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;

	opacity: 0;
	visibility: hidden;
	
	-webkit-transform: translateY(20px);
	transform: translateY(20px);

	transition: .2s;
}

#topMenu li:hover ul {
	opacity: 1;
	visibility: visible;
	
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

/* ============================ Основной блок */
#main {}

/* ============================ Путь по сайту */
#path {}

#path li + li:before {
	padding: 0 5px;
	content: "/";
}

#path a {}

#path li:hover > a,
#path li.cms_current > a {}

/* ============================ Сайдбар */
#sidebarLeft {}

/* ============================ Левое меню */
#leftMenu {}

#leftMenu a {
	display: block;
	text-decoration: none;
}

#leftMenu li:hover > a,
#leftMenu li.cms_tree_current > a {}

/* ============================ Контент */
#content {}

/* Заголовок страницы */
#pageTitle {}

/* ============================ Переключатель страниц */
#pager {}

#pager a {}

#pager li:hover > a,
#pager li.cms_current > a {}

/* ============================ Подвал */
#footer {
	position: relative;
	margin-top: -100px;
	height: 100px;
}

/* ============================ Нижнее меню */
#bottomMenu {}

#bottomMenu a {
	display: block;
	text-decoration: none;
}

#bottomMenu a:hover,
#bottomMenu a.cms_tree_current {}