:root {
  --gutters: 10px;
  --gutters-negative: -10px;
  --gutters-small: 5px;
  --gutters-small-negative: -5px;

  --container-size: calc(1280px + calc(var(--container-gutters) * 2));
  --container-gutters: var(--gutters);
}

$cols-count: 12 !default;
