$font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;

$line-height: 1;

$font-default: 14px;

$h1: 36px;
$h2: 30px;
$h3: 24px;
$h4: 18px;
$h5: 16px;
$h6: 14px;
