<nav class="nav social-networks">
  <ul class="list list--flex">
    <li>
      <a href="">
        <svg class="ico">
          <use xlink:href="#ico-facebook"></use>
        </svg>
      </a>
    </li>

    <li>
      <a href="">
        <svg class="ico">
          <use xlink:href="#ico-youtube"></use>
        </svg>
      </a>
    </li>

    <li>
      <a href="">
        <svg class="ico">
          <use xlink:href="#ico-twitter"></use>
        </svg>
      </a>
    </li>

    <li>
      <a href="">
        <svg class="ico">
          <use xlink:href="#ico-telegram"></use>
        </svg>
      </a>
    </li>

    <li>
      <a href="">
        <svg class="ico">
          <use xlink:href="#ico-whats-app"></use>
        </svg>
      </a>
    </li>
  </ul>
</nav>
