body {
	min-height: 100vh;
	min-width: 320px;

	display: flex;

	flex-direction: column;
}

/* ============================ Шапка */
.header {
	
}

/* ============================ Логотип */
.logo {
	display: block;
	
	text-decoration: none;
}

/* ============================ Верхнее меню */
.topMenuWrap > .dropdownBut {
	display: none;
}

.topMenu a {
	display: block;
	
	text-decoration: none;

	transition: $transitionBase;
}

/* Уровень 1 */ 
.topMenu .level1 > li > a {
	
}

.topMenu .level1 > li:hover > a,
.topMenu .level1 > li.active > a {
	text-decoration: underline;
}

/* Выпадающий список */
.topMenu .level2 {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;

	opacity: 0;
	visibility: hidden;

	transform: translateY(20px);

	transition: $transitionBase;
}

.topMenu li:hover .level2 {
	opacity: 1;
	visibility: visible;

	transform: none;
}

/* ============================ Основной блок */
.main {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

/* ============================ Разметка колонок */
.mainLayout {
	display: flex;

	flex-direction: row;
}

/* ============================ Сайдбар */
.sidebarLeft {
	width: 300px;
	margin-right: 20px;
}

/* ============================ Левое меню */
.leftMenu a {
	display: block;
	
	text-decoration: none;

	transition: $transitionBase;
}

/* Уровень 1 */ 
.leftMenu .level1 > li > a {
	
}

.leftMenu .level1 > li:hover > a,
.leftMenu .level1 > li.active > a {
	text-decoration: underline;
}

/* ============================ Контент */
.content {
	flex: 1;
	max-width: calc(100% - 320px);
}

/* Заголовок страницы */
.pageTitle {}

/* ============================ Подвал */
.footer {
	
}

/* ============================ Нижнее меню */
.bottomMenu a {
	display: block;
	
	text-decoration: none;

	transition: $transitionBase;
}

/* Уровень 1 */ 
.bottomMenu .level1 > li > a {
	
}

.bottomMenu .level1 > li:hover > a,
.bottomMenu .level1 > li.active > a {
	text-decoration: underline;
}
