body {
	min-height: 100vh;
	min-width: 320px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

/* ============================ Шапка */
.header {
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

/* ============================ Логотип */
.logo {
	display: block;
	
	text-decoration: none;
}

/* ============================ Контакты в шапке */
.headerContacts {}

/* ============================ Верхнее меню */
.topMenu a {
	display: block;
	
	text-decoration: none;

	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

/* Уровень 1 */ 
.topMenu .level1 > li > a {
	
}

.topMenu .level1 > li:hover > a,
.topMenu .level1 > li.active > a {
	text-decoration: underline;
}

/* Выпадающий список */
.topMenu .level2 {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;

	opacity: 0;
	visibility: hidden;
	
	-webkit-transform: translateY(20px);
	transform: translateY(20px);

	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.topMenu li:hover .level2 {
	opacity: 1;
	visibility: visible;
	
	-webkit-transform: none;
	transform: none;
}

/* ============================ Основной блок */
.main {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

/* ============================ Сайдбар */
.sidebarLeft {}

/* ============================ Левое меню */
.leftMenu a {
	display: block;
	
	text-decoration: none;
	
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;	
}

/* Уровень 1 */ 
.leftMenu .level1 > li > a {
	
}

.leftMenu .level1 > li:hover > a,
.leftMenu .level1 > li.active > a {
	text-decoration: underline;
}

/* ============================ Контент */
.content {}

/* Заголовок страницы */
.pageTitle {}

/* ============================ Подвал */
.footer {
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

/* ============================ Нижнее меню */
.bottomMenu a {
	display: block;
	
	text-decoration: none;

	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

/* Уровень 1 */ 
.bottomMenu .level1 > li > a {
	
}

.bottomMenu .level1 > li:hover > a,
.bottomMenu .level1 > li.active > a {
	text-decoration: underline;
}
