body {
	margin: 0;
	font-size: 14px;
	color: #393938;
	line-height: 1.42857143;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Ссылки */
a {
	color: #4078c0;
	background-color: transparent;
	cursor: pointer;
}

a:active,
a:hover,
a:focus {outline: 0}
