@media (max-width: 1319px){
	.hiddenxlg {display: none!important}
	
	.colxlgDefault {
		-webkit-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		max-width: none;
	}
	
	.colxlgAuto {
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}

	.colxlg1 {
		-webkit-flex-basis: 8.33333333%;
		-ms-flex-basis: 8.33333333%;
		flex-basis: 8.33333333%;
		max-width: 8.33333333%;
	}

	.colxlg2 {
		-webkit-flex-basis: 16.66666667%;
		-ms-flex-basis: 16.66666667%;
		flex-basis: 16.66666667%;
		max-width: 16.66666667%;
	}

	.colxlg3 {
		-webkit-flex-basis: 25%;
		-ms-flex-basis: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}

	.colxlg4 {
		-webkit-flex-basis: 33.33333333%;
		-ms-flex-basis: 33.33333333%;
		flex-basis: 33.33333333%;
		max-width: 33.33333333%;
	}

	.colxlg5 {
		-webkit-flex-basis: 41.66666667%;
		-ms-flex-basis: 41.66666667%;
		flex-basis: 41.66666667%;
		max-width: 41.66666667%;
	}

	.colxlg6 {
		-webkit-flex-basis: 50%;
		-ms-flex-basis: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}

	.colxlg7 {
		-webkit-flex-basis: 58.33333333%;
		-ms-flex-basis: 58.33333333%;
		flex-basis: 58.33333333%;
		max-width: 58.33333333%;
	}

	.colxlg8 {
		-webkit-flex-basis: 66.66666667%;
		-ms-flex-basis: 66.66666667%;
		flex-basis: 66.66666667%;
		max-width: 66.66666667%;
	}

	.colxlg9 {
		-webkit-flex-basis: 75%;
		-ms-flex-basis: 75%;
		flex-basis: 75%;
		max-width: 75%;
	}

	.colxlg10 {
		-webkit-flex-basis: 83.33333333%;
		-ms-flex-basis: 83.33333333%;
		flex-basis: 83.33333333%;
		max-width: 83.33333333%;
	}

	.colxlg11 {
		-webkit-flex-basis: 91.66666667%;
		-ms-flex-basis: 91.66666667%;
		flex-basis: 91.66666667%;
		max-width: 91.66666667%;
	}

	.colxlg12 {
		-webkit-flex-basis: 100%;
		-ms-flex-basis: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}
	
	/* Смещение колонок */
	.offsetxlg1 {margin-left: 8.33333333%}
	.offsetxlg2 {margin-left: 16.66666667%}
	.offsetxlg3 {margin-left: 25%}
	.offsetxlg4 {margin-left: 33.33333333%}
	.offsetxlg5 {margin-left: 41.66666667%}
	.offsetxlg6 {margin-left: 50%}
	.offsetxlg7 {margin-left: 58.33333333%}
	.offsetxlg8 {margin-left: 66.66666667%}
	.offsetxlg9 {margin-left: 75%}
	.offsetxlg10 {margin-left: 83.33333333%}
	.offsetxlg11 {margin-left: 91.66666667%}
	.offsetxlgNone {margin-left: 0;}
	
	/* Сортировка колонок */
	.orderxlgNull {
		-webkit-order: 0;
		-ms-order: 0;
		order: 0;
	}
	
	/* Вперёд */
	.pushxlg1 {
		-webkit-order: 1;
		-ms-order: 1;
		order: 1;
	}

	.pushxlg2 {
		-webkit-order: 2;
		-ms-order: 2;
		order: 2;
	}

	.pushxlg3 {
		-webkit-order: 3;
		-ms-order: 3;
		order: 3;
	}

	.pushxlg4 {
		-webkit-order: 4;
		-ms-order: 4;
		order: 4;
	}

	.pushxlg5 {
		-webkit-order: 5;
		-ms-order: 5;
		order: 5;
	}

	.pushxlg6 {
		-webkit-order: 6;
		-ms-order: 6;
		order: 6;
	}

	.pushxlg7 {
		-webkit-order: 7;
		-ms-order: 7;
		order: 7;
	}

	.pushxlg8 {
		-webkit-order: 8;
		-ms-order: 8;
		order: 8;
	}

	.pushxlg9 {
		-webkit-order: 9;
		-ms-order: 9;
		order: 9;
	}

	.pushxlg10 {
		-webkit-order: 10;
		-ms-order: 10;
		order: 10;
	}

	.pushxlg11 {
		-webkit-order: 11;
		-ms-order: 11;
		order: 11;
	}

	/* Назад */
	.pullxlg1 {
		-webkit-order: -1;
		-ms-order: -1;
		order: -1;
	}

	.pullxlg2 {
		-webkit-order: -2;
		-ms-order: -2;
		order: -2;
	}

	.pullxlg3 {
		-webkit-order: 3;
		-ms-order: 3;
		order: 3;
	}

	.pullxlg4 {
		-webkit-order: -4;
		-ms-order: -4;
		order: -4;
	}

	.pullxlg5 {
		-webkit-order: -5;
		-ms-order: -5;
		order: -5;
	}

	.pullxlg6 {
		-webkit-order: -6;
		-ms-order: -6;
		order: -6;
	}

	.pullxlg7 {
		-webkit-order: -7;
		-ms-order: -7;
		order: -7;
	}

	.pullxlg8 {
		-webkit-order: -8;
		-ms-order: -8;
		order: -8;
	}

	.pullxlg9 {
		-webkit-order: -9;
		-ms-order: -9;
		order: -9;
	}

	.pullxlg10 {
		-webkit-order: -10;
		-ms-order: -10;
		order: -10;
	}

	.pullxlg11 {
		-webkit-order: -11;
		-ms-order: -11;
		order: -11;
	}
}

@media (max-width: 1069px){
	.hiddenlg {display: none!important}
	
	.collgDefault {
		-webkit-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		max-width: none;
	}

	.collgAuto {
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}

	.collg1 {
		-webkit-flex-basis: 8.33333333%;
		-ms-flex-basis: 8.33333333%;
		flex-basis: 8.33333333%;
		max-width: 8.33333333%;
	}

	.collg2 {
		-webkit-flex-basis: 16.66666667%;
		-ms-flex-basis: 16.66666667%;
		flex-basis: 16.66666667%;
		max-width: 16.66666667%;
	}

	.collg3 {
		-webkit-flex-basis: 25%;
		-ms-flex-basis: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}

	.collg4 {
		-webkit-flex-basis: 33.33333333%;
		-ms-flex-basis: 33.33333333%;
		flex-basis: 33.33333333%;
		max-width: 33.33333333%;
	}

	.collg5 {
		-webkit-flex-basis: 41.66666667%;
		-ms-flex-basis: 41.66666667%;
		flex-basis: 41.66666667%;
		max-width: 41.66666667%;
	}

	.collg6 {
		-webkit-flex-basis: 50%;
		-ms-flex-basis: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}

	.collg7 {
		-webkit-flex-basis: 58.33333333%;
		-ms-flex-basis: 58.33333333%;
		flex-basis: 58.33333333%;
		max-width: 58.33333333%;
	}

	.collg8 {
		-webkit-flex-basis: 66.66666667%;
		-ms-flex-basis: 66.66666667%;
		flex-basis: 66.66666667%;
		max-width: 66.66666667%;
	}

	.collg9 {
		-webkit-flex-basis: 75%;
		-ms-flex-basis: 75%;
		flex-basis: 75%;
		max-width: 75%;
	}

	.collg10 {
		-webkit-flex-basis: 83.33333333%;
		-ms-flex-basis: 83.33333333%;
		flex-basis: 83.33333333%;
		max-width: 83.33333333%;
	}

	.collg11 {
		-webkit-flex-basis: 91.66666667%;
		-ms-flex-basis: 91.66666667%;
		flex-basis: 91.66666667%;
		max-width: 91.66666667%;
	}

	.collg12 {
		-webkit-flex-basis: 100%;
		-ms-flex-basis: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}
	
	/* Смещение колонок */
	.offsetlg1 {margin-left: 8.33333333%}
	.offsetlg2 {margin-left: 16.66666667%}
	.offsetlg3 {margin-left: 25%}
	.offsetlg4 {margin-left: 33.33333333%}
	.offsetlg5 {margin-left: 41.66666667%}
	.offsetlg6 {margin-left: 50%}
	.offsetlg7 {margin-left: 58.33333333%}
	.offsetlg8 {margin-left: 66.66666667%}
	.offsetlg9 {margin-left: 75%}
	.offsetlg10 {margin-left: 83.33333333%}
	.offsetlg11 {margin-left: 91.66666667%}
	.offsetlgNone {margin-left: 0;}
	
	/* Сортировка колонок */
	.orderlgNull {
		-webkit-order: 0;
		-ms-order: 0;
		order: 0;
	}
	
	/* Вперёд */
	.pushlg1 {
		-webkit-order: 1;
		-ms-order: 1;
		order: 1;
	}

	.pushlg2 {
		-webkit-order: 2;
		-ms-order: 2;
		order: 2;
	}

	.pushlg3 {
		-webkit-order: 3;
		-ms-order: 3;
		order: 3;
	}

	.pushlg4 {
		-webkit-order: 4;
		-ms-order: 4;
		order: 4;
	}

	.pushlg5 {
		-webkit-order: 5;
		-ms-order: 5;
		order: 5;
	}

	.pushlg6 {
		-webkit-order: 6;
		-ms-order: 6;
		order: 6;
	}

	.pushlg7 {
		-webkit-order: 7;
		-ms-order: 7;
		order: 7;
	}

	.pushlg8 {
		-webkit-order: 8;
		-ms-order: 8;
		order: 8;
	}

	.pushlg9 {
		-webkit-order: 9;
		-ms-order: 9;
		order: 9;
	}

	.pushlg10 {
		-webkit-order: 10;
		-ms-order: 10;
		order: 10;
	}

	.pushlg11 {
		-webkit-order: 11;
		-ms-order: 11;
		order: 11;
	}

	/* Назад */
	.pulllg1 {
		-webkit-order: -1;
		-ms-order: -1;
		order: -1;
	}

	.pulllg2 {
		-webkit-order: -2;
		-ms-order: -2;
		order: -2;
	}

	.pulllg3 {
		-webkit-order: 3;
		-ms-order: 3;
		order: 3;
	}

	.pulllg4 {
		-webkit-order: -4;
		-ms-order: -4;
		order: -4;
	}

	.pulllg5 {
		-webkit-order: -5;
		-ms-order: -5;
		order: -5;
	}

	.pulllg6 {
		-webkit-order: -6;
		-ms-order: -6;
		order: -6;
	}

	.pulllg7 {
		-webkit-order: -7;
		-ms-order: -7;
		order: -7;
	}

	.pulllg8 {
		-webkit-order: -8;
		-ms-order: -8;
		order: -8;
	}

	.pulllg9 {
		-webkit-order: -9;
		-ms-order: -9;
		order: -9;
	}

	.pulllg10 {
		-webkit-order: -10;
		-ms-order: -10;
		order: -10;
	}

	.pulllg11 {
		-webkit-order: -11;
		-ms-order: -11;
		order: -11;
	}
}

@media (max-width: 819px){
	.hiddenmd {display: none!important}
	
	.colmdDefault {
		-webkit-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		max-width: none;
	}

	.colmdAuto {
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}

	.colmd1 {
		-webkit-flex-basis: 8.33333333%;
		-ms-flex-basis: 8.33333333%;
		flex-basis: 8.33333333%;
		max-width: 8.33333333%;
	}

	.colmd2 {
		-webkit-flex-basis: 16.66666667%;
		-ms-flex-basis: 16.66666667%;
		flex-basis: 16.66666667%;
		max-width: 16.66666667%;
	}

	.colmd3 {
		-webkit-flex-basis: 25%;
		-ms-flex-basis: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}

	.colmd4 {
		-webkit-flex-basis: 33.33333333%;
		-ms-flex-basis: 33.33333333%;
		flex-basis: 33.33333333%;
		max-width: 33.33333333%;
	}

	.colmd5 {
		-webkit-flex-basis: 41.66666667%;
		-ms-flex-basis: 41.66666667%;
		flex-basis: 41.66666667%;
		max-width: 41.66666667%;
	}

	.colmd6 {
		-webkit-flex-basis: 50%;
		-ms-flex-basis: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}

	.colmd7 {
		-webkit-flex-basis: 58.33333333%;
		-ms-flex-basis: 58.33333333%;
		flex-basis: 58.33333333%;
		max-width: 58.33333333%;
	}

	.colmd8 {
		-webkit-flex-basis: 66.66666667%;
		-ms-flex-basis: 66.66666667%;
		flex-basis: 66.66666667%;
		max-width: 66.66666667%;
	}

	.colmd9 {
		-webkit-flex-basis: 75%;
		-ms-flex-basis: 75%;
		flex-basis: 75%;
		max-width: 75%;
	}

	.colmd10 {
		-webkit-flex-basis: 83.33333333%;
		-ms-flex-basis: 83.33333333%;
		flex-basis: 83.33333333%;
		max-width: 83.33333333%;
	}

	.colmd11 {
		-webkit-flex-basis: 91.66666667%;
		-ms-flex-basis: 91.66666667%;
		flex-basis: 91.66666667%;
		max-width: 91.66666667%;
	}

	.colmd12 {
		-webkit-flex-basis: 100%;
		-ms-flex-basis: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}
	
	/* Смещение колонок */
	.offsetmd1 {margin-left: 8.33333333%}
	.offsetmd2 {margin-left: 16.66666667%}
	.offsetmd3 {margin-left: 25%}
	.offsetmd4 {margin-left: 33.33333333%}
	.offsetmd5 {margin-left: 41.66666667%}
	.offsetmd6 {margin-left: 50%}
	.offsetmd7 {margin-left: 58.33333333%}
	.offsetmd8 {margin-left: 66.66666667%}
	.offsetmd9 {margin-left: 75%}
	.offsetmd10 {margin-left: 83.33333333%}
	.offsetmd11 {margin-left: 91.66666667%}
	.offsetmdNone {margin-left: 0;}
	
	/* Сортировка колонок */
	.ordermdNull {
		-webkit-order: 0;
		-ms-order: 0;
		order: 0;
	}
	
	/* Вперёд */
	.pushmd1 {
		-webkit-order: 1;
		-ms-order: 1;
		order: 1;
	}

	.pushmd2 {
		-webkit-order: 2;
		-ms-order: 2;
		order: 2;
	}

	.pushmd3 {
		-webkit-order: 3;
		-ms-order: 3;
		order: 3;
	}

	.pushmd4 {
		-webkit-order: 4;
		-ms-order: 4;
		order: 4;
	}

	.pushmd5 {
		-webkit-order: 5;
		-ms-order: 5;
		order: 5;
	}

	.pushmd6 {
		-webkit-order: 6;
		-ms-order: 6;
		order: 6;
	}

	.pushmd7 {
		-webkit-order: 7;
		-ms-order: 7;
		order: 7;
	}

	.pushmd8 {
		-webkit-order: 8;
		-ms-order: 8;
		order: 8;
	}

	.pushmd9 {
		-webkit-order: 9;
		-ms-order: 9;
		order: 9;
	}

	.pushmd10 {
		-webkit-order: 10;
		-ms-order: 10;
		order: 10;
	}

	.pushmd11 {
		-webkit-order: 11;
		-ms-order: 11;
		order: 11;
	}

	/* Назад */
	.pullmd1 {
		-webkit-order: -1;
		-ms-order: -1;
		order: -1;
	}

	.pullmd2 {
		-webkit-order: -2;
		-ms-order: -2;
		order: -2;
	}

	.pullmd3 {
		-webkit-order: 3;
		-ms-order: 3;
		order: 3;
	}

	.pullmd4 {
		-webkit-order: -4;
		-ms-order: -4;
		order: -4;
	}

	.pullmd5 {
		-webkit-order: -5;
		-ms-order: -5;
		order: -5;
	}

	.pullmd6 {
		-webkit-order: -6;
		-ms-order: -6;
		order: -6;
	}

	.pullmd7 {
		-webkit-order: -7;
		-ms-order: -7;
		order: -7;
	}

	.pullmd8 {
		-webkit-order: -8;
		-ms-order: -8;
		order: -8;
	}

	.pullmd9 {
		-webkit-order: -9;
		-ms-order: -9;
		order: -9;
	}

	.pullmd10 {
		-webkit-order: -10;
		-ms-order: -10;
		order: -10;
	}

	.pullmd11 {
		-webkit-order: -11;
		-ms-order: -11;
		order: -11;
	}
}

@media (max-width: 569px){	
	.hiddensm {display: none!important}
	
	.colsmDefault {
		-webkit-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		max-width: none;
	}

	.colsmAuto {
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}

	.colsm1 {
		-webkit-flex-basis: 8.33333333%;
		-ms-flex-basis: 8.33333333%;
		flex-basis: 8.33333333%;
		max-width: 8.33333333%;
	}

	.colsm2 {
		-webkit-flex-basis: 16.66666667%;
		-ms-flex-basis: 16.66666667%;
		flex-basis: 16.66666667%;
		max-width: 16.66666667%;
	}

	.colsm3 {
		-webkit-flex-basis: 25%;
		-ms-flex-basis: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}

	.colsm4 {
		-webkit-flex-basis: 33.33333333%;
		-ms-flex-basis: 33.33333333%;
		flex-basis: 33.33333333%;
		max-width: 33.33333333%;
	}

	.colsm5 {
		-webkit-flex-basis: 41.66666667%;
		-ms-flex-basis: 41.66666667%;
		flex-basis: 41.66666667%;
		max-width: 41.66666667%;
	}

	.colsm6 {
		-webkit-flex-basis: 50%;
		-ms-flex-basis: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}

	.colsm7 {
		-webkit-flex-basis: 58.33333333%;
		-ms-flex-basis: 58.33333333%;
		flex-basis: 58.33333333%;
		max-width: 58.33333333%;
	}

	.colsm8 {
		-webkit-flex-basis: 66.66666667%;
		-ms-flex-basis: 66.66666667%;
		flex-basis: 66.66666667%;
		max-width: 66.66666667%;
	}

	.colsm9 {
		-webkit-flex-basis: 75%;
		-ms-flex-basis: 75%;
		flex-basis: 75%;
		max-width: 75%;
	}

	.colsm10 {
		-webkit-flex-basis: 83.33333333%;
		-ms-flex-basis: 83.33333333%;
		flex-basis: 83.33333333%;
		max-width: 83.33333333%;
	}

	.colsm11 {
		-webkit-flex-basis: 91.66666667%;
		-ms-flex-basis: 91.66666667%;
		flex-basis: 91.66666667%;
		max-width: 91.66666667%;
	}

	.colsm12 {
		-webkit-flex-basis: 100%;
		-ms-flex-basis: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}
	
	/* Смещение колонок */
	.offsetsm1 {margin-left: 8.33333333%}
	.offsetsm2 {margin-left: 16.66666667%}
	.offsetsm3 {margin-left: 25%}
	.offsetsm4 {margin-left: 33.33333333%}
	.offsetsm5 {margin-left: 41.66666667%}
	.offsetsm6 {margin-left: 50%}
	.offsetsm7 {margin-left: 58.33333333%}
	.offsetsm8 {margin-left: 66.66666667%}
	.offsetsm9 {margin-left: 75%}
	.offsetsm10 {margin-left: 83.33333333%}
	.offsetsm11 {margin-left: 91.66666667%}
	.offsetsmNone {margin-left: 0;}
	
	/* Сортировка колонок */
	.ordersmNull {
		-webkit-order: 0;
		-ms-order: 0;
		order: 0;
	}
	
	/* Вперёд */
	.pushsm1 {
		-webkit-order: 1;
		-ms-order: 1;
		order: 1;
	}

	.pushsm2 {
		-webkit-order: 2;
		-ms-order: 2;
		order: 2;
	}

	.pushsm3 {
		-webkit-order: 3;
		-ms-order: 3;
		order: 3;
	}

	.pushsm4 {
		-webkit-order: 4;
		-ms-order: 4;
		order: 4;
	}

	.pushsm5 {
		-webkit-order: 5;
		-ms-order: 5;
		order: 5;
	}

	.pushsm6 {
		-webkit-order: 6;
		-ms-order: 6;
		order: 6;
	}

	.pushsm7 {
		-webkit-order: 7;
		-ms-order: 7;
		order: 7;
	}

	.pushsm8 {
		-webkit-order: 8;
		-ms-order: 8;
		order: 8;
	}

	.pushsm9 {
		-webkit-order: 9;
		-ms-order: 9;
		order: 9;
	}

	.pushsm10 {
		-webkit-order: 10;
		-ms-order: 10;
		order: 10;
	}

	.pushsm11 {
		-webkit-order: 11;
		-ms-order: 11;
		order: 11;
	}

	/* Назад */
	.pullsm1 {
		-webkit-order: -1;
		-ms-order: -1;
		order: -1;
	}

	.pullsm2 {
		-webkit-order: -2;
		-ms-order: -2;
		order: -2;
	}

	.pullsm3 {
		-webkit-order: 3;
		-ms-order: 3;
		order: 3;
	}

	.pullsm4 {
		-webkit-order: -4;
		-ms-order: -4;
		order: -4;
	}

	.pullsm5 {
		-webkit-order: -5;
		-ms-order: -5;
		order: -5;
	}

	.pullsm6 {
		-webkit-order: -6;
		-ms-order: -6;
		order: -6;
	}

	.pullsm7 {
		-webkit-order: -7;
		-ms-order: -7;
		order: -7;
	}

	.pullsm8 {
		-webkit-order: -8;
		-ms-order: -8;
		order: -8;
	}

	.pullsm9 {
		-webkit-order: -9;
		-ms-order: -9;
		order: -9;
	}

	.pullsm10 {
		-webkit-order: -10;
		-ms-order: -10;
		order: -10;
	}

	.pullsm11 {
		-webkit-order: -11;
		-ms-order: -11;
		order: -11;
	}
}

@media (max-width: 420px){
	
	.hiddenxsm {display: none!important}
	
	.colxsmDefault {
		-webkit-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		max-width: none;
	}

	.colxsmAuto {
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}

	.colxsm1 {
		-webkit-flex-basis: 8.33333333%;
		-ms-flex-basis: 8.33333333%;
		flex-basis: 8.33333333%;
		max-width: 8.33333333%;
	}

	.colxsm2 {
		-webkit-flex-basis: 16.66666667%;
		-ms-flex-basis: 16.66666667%;
		flex-basis: 16.66666667%;
		max-width: 16.66666667%;
	}

	.colxsm3 {
		-webkit-flex-basis: 25%;
		-ms-flex-basis: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}

	.colxsm4 {
		-webkit-flex-basis: 33.33333333%;
		-ms-flex-basis: 33.33333333%;
		flex-basis: 33.33333333%;
		max-width: 33.33333333%;
	}

	.colxsm5 {
		-webkit-flex-basis: 41.66666667%;
		-ms-flex-basis: 41.66666667%;
		flex-basis: 41.66666667%;
		max-width: 41.66666667%;
	}

	.colxsm6 {
		-webkit-flex-basis: 50%;
		-ms-flex-basis: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}

	.colxsm7 {
		-webkit-flex-basis: 58.33333333%;
		-ms-flex-basis: 58.33333333%;
		flex-basis: 58.33333333%;
		max-width: 58.33333333%;
	}

	.colxsm8 {
		-webkit-flex-basis: 66.66666667%;
		-ms-flex-basis: 66.66666667%;
		flex-basis: 66.66666667%;
		max-width: 66.66666667%;
	}

	.colxsm9 {
		-webkit-flex-basis: 75%;
		-ms-flex-basis: 75%;
		flex-basis: 75%;
		max-width: 75%;
	}

	.colxsm10 {
		-webkit-flex-basis: 83.33333333%;
		-ms-flex-basis: 83.33333333%;
		flex-basis: 83.33333333%;
		max-width: 83.33333333%;
	}

	.colxsm11 {
		-webkit-flex-basis: 91.66666667%;
		-ms-flex-basis: 91.66666667%;
		flex-basis: 91.66666667%;
		max-width: 91.66666667%;
	}

	.colxsm12 {
		-webkit-flex-basis: 100%;
		-ms-flex-basis: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}
	
	/* Смещение колонок */
	.offsetxsm1 {margin-left: 8.33333333%}
	.offsetxsm2 {margin-left: 16.66666667%}
	.offsetxsm3 {margin-left: 25%}
	.offsetxsm4 {margin-left: 33.33333333%}
	.offsetxsm5 {margin-left: 41.66666667%}
	.offsetxsm6 {margin-left: 50%}
	.offsetxsm7 {margin-left: 58.33333333%}
	.offsetxsm8 {margin-left: 66.66666667%}
	.offsetxsm9 {margin-left: 75%}
	.offsetxsm10 {margin-left: 83.33333333%}
	.offsetxsm11 {margin-left: 91.66666667%}
	.offsetxsmNone {margin-left: 0;}
	
	/* Сортировка колонок */
	.orderxsmNull {
		-webkit-order: 0;
		-ms-order: 0;
		order: 0;
	}
	
	/* Вперёд */
	.pushxsm1 {
		-webkit-order: 1;
		-ms-order: 1;
		order: 1;
	}

	.pushxsm2 {
		-webkit-order: 2;
		-ms-order: 2;
		order: 2;
	}

	.pushxsm3 {
		-webkit-order: 3;
		-ms-order: 3;
		order: 3;
	}

	.pushxsm4 {
		-webkit-order: 4;
		-ms-order: 4;
		order: 4;
	}

	.pushxsm5 {
		-webkit-order: 5;
		-ms-order: 5;
		order: 5;
	}

	.pushxsm6 {
		-webkit-order: 6;
		-ms-order: 6;
		order: 6;
	}

	.pushxsm7 {
		-webkit-order: 7;
		-ms-order: 7;
		order: 7;
	}

	.pushxsm8 {
		-webkit-order: 8;
		-ms-order: 8;
		order: 8;
	}

	.pushxsm9 {
		-webkit-order: 9;
		-ms-order: 9;
		order: 9;
	}

	.pushxsm10 {
		-webkit-order: 10;
		-ms-order: 10;
		order: 10;
	}

	.pushxsm11 {
		-webkit-order: 11;
		-ms-order: 11;
		order: 11;
	}

	/* Назад */
	.pullxsm1 {
		-webkit-order: -1;
		-ms-order: -1;
		order: -1;
	}

	.pullxsm2 {
		-webkit-order: -2;
		-ms-order: -2;
		order: -2;
	}

	.pullsm3 {
		-webkit-order: 3;
		-ms-order: 3;
		order: 3;
	}

	.pullxsm4 {
		-webkit-order: -4;
		-ms-order: -4;
		order: -4;
	}

	.pullxsm5 {
		-webkit-order: -5;
		-ms-order: -5;
		order: -5;
	}

	.pullxsm6 {
		-webkit-order: -6;
		-ms-order: -6;
		order: -6;
	}

	.pullxsm7 {
		-webkit-order: -7;
		-ms-order: -7;
		order: -7;
	}

	.pullxsm8 {
		-webkit-order: -8;
		-ms-order: -8;
		order: -8;
	}

	.pullxsm9 {
		-webkit-order: -9;
		-ms-order: -9;
		order: -9;
	}

	.pullxsm10 {
		-webkit-order: -10;
		-ms-order: -10;
		order: -10;
	}

	.pullxsm11 {
		-webkit-order: -11;
		-ms-order: -11;
		order: -11;
	}
}
