@media (max-width: 1319px){
	.hiddenxlg {display: none!important}
	
	.rowxlgCenter {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	
	.colxlgDefault {
		-webkit-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		max-width: none;
	}
	
	.colxlgAuto {
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		max-width: none;
	}

	.colxlg1 {
		-webkit-flex-basis: 8.33333333%;
		-ms-flex-basis: 8.33333333%;
		flex-basis: 8.33333333%;
		max-width: 8.33333333%;
	}

	.colxlg2 {
		-webkit-flex-basis: 16.66666667%;
		-ms-flex-basis: 16.66666667%;
		flex-basis: 16.66666667%;
		max-width: 16.66666667%;
	}

	.colxlg3 {
		-webkit-flex-basis: 25%;
		-ms-flex-basis: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}

	.colxlg4 {
		-webkit-flex-basis: 33.33333333%;
		-ms-flex-basis: 33.33333333%;
		flex-basis: 33.33333333%;
		max-width: 33.33333333%;
	}

	.colxlg5 {
		-webkit-flex-basis: 41.66666667%;
		-ms-flex-basis: 41.66666667%;
		flex-basis: 41.66666667%;
		max-width: 41.66666667%;
	}

	.colxlg6 {
		-webkit-flex-basis: 50%;
		-ms-flex-basis: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}

	.colxlg7 {
		-webkit-flex-basis: 58.33333333%;
		-ms-flex-basis: 58.33333333%;
		flex-basis: 58.33333333%;
		max-width: 58.33333333%;
	}

	.colxlg8 {
		-webkit-flex-basis: 66.66666667%;
		-ms-flex-basis: 66.66666667%;
		flex-basis: 66.66666667%;
		max-width: 66.66666667%;
	}

	.colxlg9 {
		-webkit-flex-basis: 75%;
		-ms-flex-basis: 75%;
		flex-basis: 75%;
		max-width: 75%;
	}

	.colxlg10 {
		-webkit-flex-basis: 83.33333333%;
		-ms-flex-basis: 83.33333333%;
		flex-basis: 83.33333333%;
		max-width: 83.33333333%;
	}

	.colxlg11 {
		-webkit-flex-basis: 91.66666667%;
		-ms-flex-basis: 91.66666667%;
		flex-basis: 91.66666667%;
		max-width: 91.66666667%;
	}

	.colxlg12 {
		-webkit-flex-basis: 100%;
		-ms-flex-basis: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}
	
	/* Смещение колонок */
	.offsetxlg1 {margin-left: 8.33333333%}
	.offsetxlg2 {margin-left: 16.66666667%}
	.offsetxlg3 {margin-left: 25%}
	.offsetxlg4 {margin-left: 33.33333333%}
	.offsetxlg5 {margin-left: 41.66666667%}
	.offsetxlg6 {margin-left: 50%}
	.offsetxlg7 {margin-left: 58.33333333%}
	.offsetxlg8 {margin-left: 66.66666667%}
	.offsetxlg9 {margin-left: 75%}
	.offsetxlg10 {margin-left: 83.33333333%}
	.offsetxlg11 {margin-left: 91.66666667%}
	.offsetxlgNone {margin-left: 0;}
	
	/* Сортировка колонок */
	.colxlgFirst {
		-webkit-box-ordinal-group: 0;
		-webkit-order: -1;
		-ms-flex-order: -1;
		order: -1;
	}

	.colxlgLast {
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}

	.colxlgUnordered {
		-webkit-box-ordinal-group: 1;
		-webkit-order: 0;
		-ms-flex-order: 0;
		order: 0;
	}
}

@media (max-width: 1069px){
	.hiddenlg {display: none!important}
	
	.rowlgCenter {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	
	.collgDefault {
		-webkit-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		max-width: none;
	}

	.collgAuto {
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		max-width: none;
	}

	.collg1 {
		-webkit-flex-basis: 8.33333333%;
		-ms-flex-basis: 8.33333333%;
		flex-basis: 8.33333333%;
		max-width: 8.33333333%;
	}

	.collg2 {
		-webkit-flex-basis: 16.66666667%;
		-ms-flex-basis: 16.66666667%;
		flex-basis: 16.66666667%;
		max-width: 16.66666667%;
	}

	.collg3 {
		-webkit-flex-basis: 25%;
		-ms-flex-basis: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}

	.collg4 {
		-webkit-flex-basis: 33.33333333%;
		-ms-flex-basis: 33.33333333%;
		flex-basis: 33.33333333%;
		max-width: 33.33333333%;
	}

	.collg5 {
		-webkit-flex-basis: 41.66666667%;
		-ms-flex-basis: 41.66666667%;
		flex-basis: 41.66666667%;
		max-width: 41.66666667%;
	}

	.collg6 {
		-webkit-flex-basis: 50%;
		-ms-flex-basis: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}

	.collg7 {
		-webkit-flex-basis: 58.33333333%;
		-ms-flex-basis: 58.33333333%;
		flex-basis: 58.33333333%;
		max-width: 58.33333333%;
	}

	.collg8 {
		-webkit-flex-basis: 66.66666667%;
		-ms-flex-basis: 66.66666667%;
		flex-basis: 66.66666667%;
		max-width: 66.66666667%;
	}

	.collg9 {
		-webkit-flex-basis: 75%;
		-ms-flex-basis: 75%;
		flex-basis: 75%;
		max-width: 75%;
	}

	.collg10 {
		-webkit-flex-basis: 83.33333333%;
		-ms-flex-basis: 83.33333333%;
		flex-basis: 83.33333333%;
		max-width: 83.33333333%;
	}

	.collg11 {
		-webkit-flex-basis: 91.66666667%;
		-ms-flex-basis: 91.66666667%;
		flex-basis: 91.66666667%;
		max-width: 91.66666667%;
	}

	.collg12 {
		-webkit-flex-basis: 100%;
		-ms-flex-basis: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}
	
	/* Смещение колонок */
	.offsetlg1 {margin-left: 8.33333333%}
	.offsetlg2 {margin-left: 16.66666667%}
	.offsetlg3 {margin-left: 25%}
	.offsetlg4 {margin-left: 33.33333333%}
	.offsetlg5 {margin-left: 41.66666667%}
	.offsetlg6 {margin-left: 50%}
	.offsetlg7 {margin-left: 58.33333333%}
	.offsetlg8 {margin-left: 66.66666667%}
	.offsetlg9 {margin-left: 75%}
	.offsetlg10 {margin-left: 83.33333333%}
	.offsetlg11 {margin-left: 91.66666667%}
	.offsetlgNone {margin-left: 0;}
	
	/* Сортировка колонок */
	.collgFirst {
		-webkit-box-ordinal-group: 0;
		-webkit-order: -1;
		-ms-flex-order: -1;
		order: -1;
	}

	.collgLast {
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}

	.collgUnordered {
		-webkit-box-ordinal-group: 1;
		-webkit-order: 0;
		-ms-flex-order: 0;
		order: 0;
	}
}

@media (max-width: 819px){
	.hiddenmd {display: none!important}
	
	.rowmdCenter {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	
	.colmdDefault {
		-webkit-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		max-width: none;
	}

	.colmdAuto {
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		max-width: none;
	}

	.colmd1 {
		-webkit-flex-basis: 8.33333333%;
		-ms-flex-basis: 8.33333333%;
		flex-basis: 8.33333333%;
		max-width: 8.33333333%;
	}

	.colmd2 {
		-webkit-flex-basis: 16.66666667%;
		-ms-flex-basis: 16.66666667%;
		flex-basis: 16.66666667%;
		max-width: 16.66666667%;
	}

	.colmd3 {
		-webkit-flex-basis: 25%;
		-ms-flex-basis: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}

	.colmd4 {
		-webkit-flex-basis: 33.33333333%;
		-ms-flex-basis: 33.33333333%;
		flex-basis: 33.33333333%;
		max-width: 33.33333333%;
	}

	.colmd5 {
		-webkit-flex-basis: 41.66666667%;
		-ms-flex-basis: 41.66666667%;
		flex-basis: 41.66666667%;
		max-width: 41.66666667%;
	}

	.colmd6 {
		-webkit-flex-basis: 50%;
		-ms-flex-basis: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}

	.colmd7 {
		-webkit-flex-basis: 58.33333333%;
		-ms-flex-basis: 58.33333333%;
		flex-basis: 58.33333333%;
		max-width: 58.33333333%;
	}

	.colmd8 {
		-webkit-flex-basis: 66.66666667%;
		-ms-flex-basis: 66.66666667%;
		flex-basis: 66.66666667%;
		max-width: 66.66666667%;
	}

	.colmd9 {
		-webkit-flex-basis: 75%;
		-ms-flex-basis: 75%;
		flex-basis: 75%;
		max-width: 75%;
	}

	.colmd10 {
		-webkit-flex-basis: 83.33333333%;
		-ms-flex-basis: 83.33333333%;
		flex-basis: 83.33333333%;
		max-width: 83.33333333%;
	}

	.colmd11 {
		-webkit-flex-basis: 91.66666667%;
		-ms-flex-basis: 91.66666667%;
		flex-basis: 91.66666667%;
		max-width: 91.66666667%;
	}

	.colmd12 {
		-webkit-flex-basis: 100%;
		-ms-flex-basis: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}
	
	/* Смещение колонок */
	.offsetmd1 {margin-left: 8.33333333%}
	.offsetmd2 {margin-left: 16.66666667%}
	.offsetmd3 {margin-left: 25%}
	.offsetmd4 {margin-left: 33.33333333%}
	.offsetmd5 {margin-left: 41.66666667%}
	.offsetmd6 {margin-left: 50%}
	.offsetmd7 {margin-left: 58.33333333%}
	.offsetmd8 {margin-left: 66.66666667%}
	.offsetmd9 {margin-left: 75%}
	.offsetmd10 {margin-left: 83.33333333%}
	.offsetmd11 {margin-left: 91.66666667%}
	.offsetmdNone {margin-left: 0;}
	
	/* Сортировка колонок */
	.colmdFirst {
		-webkit-box-ordinal-group: 0;
		-webkit-order: -1;
		-ms-flex-order: -1;
		order: -1;
	}

	.colmdLast {
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}

	.colmdUnordered {
		-webkit-box-ordinal-group: 1;
		-webkit-order: 0;
		-ms-flex-order: 0;
		order: 0;
	}
	
	/* Выпадающее меню */
	.topMenuWrap:before {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 999;
		
		pointer-events: none;

		background: rgba(0,0,0,.3);
		opacity: 0;
		visibility: hidden;

		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;

		content: '';
	}

	.topMenuWrap.open:before {
		opacity: 1;
		visibility: visible;
	}

	.topMenuWrap > .dropdownBut {
		position: fixed;
		top: 10px;
		right: 10px;
		z-index: 1001;

		display: block;
		padding: 5px;
	}

	.topMenu {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 1000;

		overflow: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		margin-bottom: 0;
		width: 280px;
		padding: 15px;

		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);

		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;

		background-color: #869EAE;
		opacity: 0;
		visibility: hidden;
	}

	.open .topMenu {
		opacity: 1;
		visibility: visible;

		-webkit-transform: none;
		transform: none;

		box-shadow: 
			0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22)
		;
	}
	
	.topMenu .level1 {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	
	.topMenu .level1 > li > a {
		
	}
	
	.topMenu .level2 {
		position: static;
		
		opacity: 1;
		visibility: visible;
		
		-webkit-transform: none;
		transform: none;
		
		-webkit-transition: none;
		transition: none;
		
		border: 0;
		width: auto;
		display: none;
		
		border-radius: 0;
	}
	
	/* Таблица корзины */
	.cartTable, .cartTable > tbody, 
	.cartTable > tbody > tr, 
	.cartTable > tbody > tr > th, 
	.cartTable > tbody > tr > td, 
	.cartTable > tfoot, 
	.cartTable > tfoot > tr, 
	.cartTable > tfoot > tr > th, 
	.cartTable > tfoot > tr > td {
		display: block;
	}
	
	.cartTable > tbody > tr > th, 
	.cartTable > tbody > tr > td, 
	.cartTable > tbody > tr > td:first-child, 
	.cartTable > tbody > tr > th:first-child, 
	.cartTable > tbody > tr > th:last-child, 
	.cartTable > tbody > tr > td:last-child {
		padding: 10px;
	}
	
	.cartTable {
	    width: auto;
	}
	
	.cartTable > thead {
		display: none;
	}
	
	.cartItem {
		margin-bottom: 20px;

		border-radius: 2px;
		box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	}
	
	.cartTable > tbody > tr > td[data-title]:before {
		display: block;
		
		text-align: center;
		padding: 0 10px;
		font-weight: bold;
		content: attr(data-title);
	}
	
	.cartItemDelCol {
		position: absolute;
		top: 0;
		right: 0;
	}
	
	.cartItem:last-child {
		margin-bottom: 0;
	}
}

@media (max-width: 569px){	
	.hiddensm {display: none!important}
	
	.rowsmCenter {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	
	.colsmDefault {
		-webkit-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		max-width: none;
	}

	.colsmAuto {
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		max-width: none;
	}

	.colsm1 {
		-webkit-flex-basis: 8.33333333%;
		-ms-flex-basis: 8.33333333%;
		flex-basis: 8.33333333%;
		max-width: 8.33333333%;
	}

	.colsm2 {
		-webkit-flex-basis: 16.66666667%;
		-ms-flex-basis: 16.66666667%;
		flex-basis: 16.66666667%;
		max-width: 16.66666667%;
	}

	.colsm3 {
		-webkit-flex-basis: 25%;
		-ms-flex-basis: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}

	.colsm4 {
		-webkit-flex-basis: 33.33333333%;
		-ms-flex-basis: 33.33333333%;
		flex-basis: 33.33333333%;
		max-width: 33.33333333%;
	}

	.colsm5 {
		-webkit-flex-basis: 41.66666667%;
		-ms-flex-basis: 41.66666667%;
		flex-basis: 41.66666667%;
		max-width: 41.66666667%;
	}

	.colsm6 {
		-webkit-flex-basis: 50%;
		-ms-flex-basis: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}

	.colsm7 {
		-webkit-flex-basis: 58.33333333%;
		-ms-flex-basis: 58.33333333%;
		flex-basis: 58.33333333%;
		max-width: 58.33333333%;
	}

	.colsm8 {
		-webkit-flex-basis: 66.66666667%;
		-ms-flex-basis: 66.66666667%;
		flex-basis: 66.66666667%;
		max-width: 66.66666667%;
	}

	.colsm9 {
		-webkit-flex-basis: 75%;
		-ms-flex-basis: 75%;
		flex-basis: 75%;
		max-width: 75%;
	}

	.colsm10 {
		-webkit-flex-basis: 83.33333333%;
		-ms-flex-basis: 83.33333333%;
		flex-basis: 83.33333333%;
		max-width: 83.33333333%;
	}

	.colsm11 {
		-webkit-flex-basis: 91.66666667%;
		-ms-flex-basis: 91.66666667%;
		flex-basis: 91.66666667%;
		max-width: 91.66666667%;
	}

	.colsm12 {
		-webkit-flex-basis: 100%;
		-ms-flex-basis: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}
	
	/* Смещение колонок */
	.offsetsm1 {margin-left: 8.33333333%}
	.offsetsm2 {margin-left: 16.66666667%}
	.offsetsm3 {margin-left: 25%}
	.offsetsm4 {margin-left: 33.33333333%}
	.offsetsm5 {margin-left: 41.66666667%}
	.offsetsm6 {margin-left: 50%}
	.offsetsm7 {margin-left: 58.33333333%}
	.offsetsm8 {margin-left: 66.66666667%}
	.offsetsm9 {margin-left: 75%}
	.offsetsm10 {margin-left: 83.33333333%}
	.offsetsm11 {margin-left: 91.66666667%}
	.offsetsmNone {margin-left: 0;}
	
	/* Сортировка колонок */
	.colsmFirst {
		-webkit-box-ordinal-group: 0;
		-webkit-order: -1;
		-ms-flex-order: -1;
		order: -1;
	}

	.colsmLast {
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}

	.colsmUnordered {
		-webkit-box-ordinal-group: 1;
		-webkit-order: 0;
		-ms-flex-order: 0;
		order: 0;
	}
}

@media (max-width: 420px){
	.hiddenxsm {display: none!important}
	
	.rowxsmCenter {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	
	.colxsmDefault {
		-webkit-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		max-width: none;
	}

	.colxsmAuto {
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		max-width: none;
	}

	.colxsm1 {
		-webkit-flex-basis: 8.33333333%;
		-ms-flex-basis: 8.33333333%;
		flex-basis: 8.33333333%;
		max-width: 8.33333333%;
	}

	.colxsm2 {
		-webkit-flex-basis: 16.66666667%;
		-ms-flex-basis: 16.66666667%;
		flex-basis: 16.66666667%;
		max-width: 16.66666667%;
	}

	.colxsm3 {
		-webkit-flex-basis: 25%;
		-ms-flex-basis: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}

	.colxsm4 {
		-webkit-flex-basis: 33.33333333%;
		-ms-flex-basis: 33.33333333%;
		flex-basis: 33.33333333%;
		max-width: 33.33333333%;
	}

	.colxsm5 {
		-webkit-flex-basis: 41.66666667%;
		-ms-flex-basis: 41.66666667%;
		flex-basis: 41.66666667%;
		max-width: 41.66666667%;
	}

	.colxsm6 {
		-webkit-flex-basis: 50%;
		-ms-flex-basis: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}

	.colxsm7 {
		-webkit-flex-basis: 58.33333333%;
		-ms-flex-basis: 58.33333333%;
		flex-basis: 58.33333333%;
		max-width: 58.33333333%;
	}

	.colxsm8 {
		-webkit-flex-basis: 66.66666667%;
		-ms-flex-basis: 66.66666667%;
		flex-basis: 66.66666667%;
		max-width: 66.66666667%;
	}

	.colxsm9 {
		-webkit-flex-basis: 75%;
		-ms-flex-basis: 75%;
		flex-basis: 75%;
		max-width: 75%;
	}

	.colxsm10 {
		-webkit-flex-basis: 83.33333333%;
		-ms-flex-basis: 83.33333333%;
		flex-basis: 83.33333333%;
		max-width: 83.33333333%;
	}

	.colxsm11 {
		-webkit-flex-basis: 91.66666667%;
		-ms-flex-basis: 91.66666667%;
		flex-basis: 91.66666667%;
		max-width: 91.66666667%;
	}

	.colxsm12 {
		-webkit-flex-basis: 100%;
		-ms-flex-basis: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}
	
	/* Смещение колонок */
	.offsetxsm1 {margin-left: 8.33333333%}
	.offsetxsm2 {margin-left: 16.66666667%}
	.offsetxsm3 {margin-left: 25%}
	.offsetxsm4 {margin-left: 33.33333333%}
	.offsetxsm5 {margin-left: 41.66666667%}
	.offsetxsm6 {margin-left: 50%}
	.offsetxsm7 {margin-left: 58.33333333%}
	.offsetxsm8 {margin-left: 66.66666667%}
	.offsetxsm9 {margin-left: 75%}
	.offsetxsm10 {margin-left: 83.33333333%}
	.offsetxsm11 {margin-left: 91.66666667%}
	.offsetxsmNone {margin-left: 0;}
	
	/* Сортировка колонок */
	.colxsmFirst {
		-webkit-box-ordinal-group: 0;
		-webkit-order: -1;
		-ms-flex-order: -1;
		order: -1;
	}

	.colxsmLast {
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}

	.colxsmUnordered {
		-webkit-box-ordinal-group: 1;
		-webkit-order: 0;
		-ms-flex-order: 0;
		order: 0;
	}
}
