@import './grid';

@mixin utils-user-select ($value) {
  -moz-user-select: $value;
  -webkit-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

@mixin utils-appearance ($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}

@mixin utils-text-ellipsis ($lines: 1) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;

  text-overflow: ellipsis;
}

@mixin utils-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin utils-disabled {
  background-image: none !important;
  box-shadow: none !important;
  cursor: not-allowed;
  opacity: .35;
}
