.nav-tabs {
  a {
    display: block;

    text-decoration: none;

    transition: $transitionBase;

    &.active {
      text-decoration: underline;
    }
  }
}

.tab-pane {
  &:not(.active) {
    display: none;
  }
}
