// Fonts
$fontDefault: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Transitions
$transitionBase: .2s ease-in-out;
$transitionFade: opacity .15s linear;
$transitionModal: transform .2s ease-out;

// MediaQueries
$mediaxlg: 1319px;
$medialg: 1069px;
$mediamd: 819px;
$mediasm: 569px;
$mediaxsm: 420px;
