.button {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: $border-radius-default;

  font-weight: normal;
  line-height: $line-height;
  white-space: nowrap;

  text-align: center;
  text-transform: none;
  text-decoration: none;
  text-shadow: none;

  background-color: transparent;

  outline: 0;
  cursor: pointer;

  transition: $transition-base;

  -webkit-tap-highlight-color: transparent;

  @include utils-user-select(none);
  @include utils-appearance(none);

  &[disabled] {
    @include utils-disabled;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &__label {
    flex: 1;

    font-weight: inherit;
    font-style: inherit;
  }
  
  &__ico {
    flex: 0 0 auto;
  }

  // =================================== Types
  &--primary {
    &:not([disabled]) {
      &:focus,
      &:hover {}
    }

    &:active {}
  }

  &--secondary {
    &:not([disabled]) {
      &:focus,
      &:hover {}
    }

    &:active {}
  }

  &--success {
    &:not([disabled]) {
      &:focus,
      &:hover {}
    }

    &:active {}
  }

  &--danger {
    &:not([disabled]) {
      &:focus,
      &:hover {}
    }

    &:active {}
  }

  // =================================== Sizes
  &--large {}

  &--medium {}

  &--small {}

  &--mini {}

  // =================================== States
  &--rounded {
    border-radius: $border-radius-rounded;
  }

  &--expanded {
    width: 100%;
  }
  
  &--plain {
    &.button--primary {
      &:not(:hover) {
        background-color: transparent;
      }
    }
  }
}
