.counter {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  border: 1px solid #C6C6C6;
  margin: 0 auto;
  max-width: 100px;

  .button {
    flex: 0 0 30px;
    width: 30px;

    background-color: #F7F7F7;
  }

  .field {
    flex: 1 1 auto;

    border: 0;
    border-left: 1px solid #C6C6C6;
    border-right: 1px solid #C6C6C6;
    padding: 5px 10px;

    text-align: center;
  }
}
