.header-menu {
  > .button {
    @include media-md-down {
      position: fixed;
      top: 10px;
      right: 10px;
      z-index: 1001;

      padding: 5px;
    }
  }

  .dropdown-menu {
    @include media-md-up {
      position: static;

      transform: none;
      visibility: visible;

      opacity: 1;
    }

    @include media-md-down {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1000;

      overflow: hidden;
      overflow-y: auto;

      background: rgba(0, 0, 0, .3);

      transform: none;
      visibility: hidden;

      opacity: 0;
      -webkit-overflow-scrolling: touch;

      &.show {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__nav {
    @include media-md-down {
      width: 280px;
      height: 100%;
      padding: 15px;

      background-color: $color-white;

      transform: translateX(-100%);

      transition: $transition-base;

      .show & {
        transform: none;
      }
    }

    /* Уровень 1 */
    .level-1 {
      > li {
        > a {

        }

        &:hover > a,
        &.active > a {
          text-decoration: underline;
        }

        @include media-md-up {
          &:hover {
            .level-2 {
              transform: none;
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }

      @include media-md-down {
        flex-direction: column;
      }
    }

    /* Уровень 2 */
    .level-2 {
      @include media-md-up {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;

        transform: translateY(20px);
        visibility: hidden;

        opacity: 0;

        transition: $transition-base;
      }
    }
  }
}
