img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  border: 0;

  vertical-align: middle;
}

.img-fluid {
  display: block;
  width: 100%;
}

.img-cover {
  background: $color-default center / cover no-repeat;
}
