.list {
  margin: 0;
  padding: 0;

  list-style: none;

  &--flex {
    display: flex;
    flex-flow: row wrap;

    > li {
      flex: 0 0 auto;
      max-width: 100%;
    }
  }

  &--auto {
    > li {
      flex: 1;
    }
  }

  &--mark {
    > li {
      position: relative;

      padding-left: 30px;

      &:before {
        position: absolute;
        top: 0;
        left: 0;

        width: 10px;
        height: 10px;
        border-radius: var(--border-radius-circle);

        background-color: var(--color-black);

        content: '';
      }
    }
  }
}
