.list {
  margin: 0;
  padding: 0;
  list-style: none;

  &-flex {
    display: flex;
    flex-flow: row wrap;

    > li {
      flex: 0 0 auto;
      max-width: 100%;
    }
  }

  &-auto {
    > li {
      flex: 1;
    }
  }

  &-mark {
    > li {
      padding-left: 30px;

      &:before {
        position: absolute;
        top: 5px;
        left: 0;

        width: 6px;
        height: 6px;

        background-color: #46D97A;
        border-radius: 63px;

        content: '';
      }
    }
  }
}
