/* Обнуление списка */
.list {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    position: relative;
  }
}

/* Резиновый список */
.listFlex {
  display: flex;

  flex-flow: row wrap;

  > li {
    flex: 0 0 auto;
  }
}

.listAuto {
  > li {
    flex: 1;
  }
}

.listCenter {
  justify-content: center;
}

.listMiddle {
  align-items: center;
}

.listBetween {
  justify-content: space-between;
}

.listMark {
  > li {
    padding-left: 10px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:before {
      position: absolute;
      top: 7px;
      left: 0;

      width: 3px;
      height: 3px;

      background-color: #000;
      border-radius: 100%;

      content: '';
    }
  }
}
