.top-menu {
  > .button {
    @include media-md-down {
      position: fixed;
      top: 10px;
      right: 10px;
      z-index: 1001;

      padding: 5px;
    }
  }

  .dropdown-menu {
    @include media-md-up {
      position: static;

      opacity: 1;
      visibility: visible;

      transform: none;
    }

    @include media-md-down {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1000;

      overflow: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      background: rgba(0, 0, 0, .3);

      transform: none;

      opacity: 0;
      visibility: hidden;

      &.show {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__nav {
    @include media-md-down {
      height: 100%;
      width: 280px;
      padding: 15px;

      transition: $transition-base;

      transform: translateX(-100%);

      background-color: #fff;

      .show & {
        transform: none;
      }
    }

    /* Уровень 1 */
    .level-1 {
      > li {
        position: relative;
        
        &:not(:last-child) {
          margin-right: 10px;
        }
        
        > a {

        }

        &:hover > a,
        &.active > a {
          text-decoration: underline;
        }

        &:hover {
          .level-2 {
            opacity: 1;
            visibility: visible;

            transform: none;
          }
        }
      }

      @include media-md-down {
        flex-direction: column;
      }
    }

    /* Уровень 2 */
    .level-2 {
      @include media-md-up {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;

        opacity: 0;
        visibility: hidden;

        transform: translateY(20px);

        transition: $transition-base;
      }

      > li {
        &:not(:last-child) {
          margin-right: 10px;
        }
        
        > a {

        }

        &:hover > a,
        &.active > a {

        }
      }
    }
  }
}
