.pagination {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  &__button {
    &--prev {
      @include media-sm-up {
        order: -1;
      }
    }

    &--next {

    }
  }

  &__list {
    @include media-sm-down {
      flex: 1;
      flex-basis: 100%;
      margin-bottom: 15px;
    }

    &-item {
      > a {

      }

      &--active {
        > a {

        }
      }
    }
  }
}
