table {
  border-collapse: collapse;
  border-spacing: 0
}

td,
th {
  padding: 0
}

.table {
  width: 100%;

  // =================================== States
  &.is-layout-fixed {
    table-layout: fixed;
  }

  // =================================== Types
  &--basic {}

  &--striped {
    > tbody {
      > tr {
        &:nth-of-type(even) {
          background: #ccc;
        }
      }
    }
  }
}
