.main {
	flex: 1;
}

/* ============================ Разметка колонок */
.mainLayout {
	display: flex;

	flex-direction: row;
}

.sidebar {
	width: 300px;
	margin-right: 20px;
}

.content {
	flex: 1;
	max-width: calc(100% - 320px);
}