<footer class="footer">
	<div class="container">
		<!-- Меню снизу -->
		<nav class="nav bottomMenu">
			<ul class="list listFlex level1">
				<li class="active">
					<a href="">Главная</a>
				</li>
				<li>
					<a href="">О компании</a>
				</li>
			</ul>
		</nav>

		<div class="row rowMiddle rowBetween">
			<div class="col">
				<a href="index.html" class="logo footerLogo">
					<img src="img/footerLogo.png" alt="" title="">
				</a>
			</div>
		</div>
	</div>
</footer>
