@media (min-width: $xxl) {
  .hidden-xxl-up {
    display: none !important;
  }
}

@media (max-width: $xxl) {
  .hidden-xxl-down {
    display: none !important;
  }
}

@media (min-width: $xl) {
  .hidden-xl-up {
    display: none !important;
  }
}

@media (max-width: $xl) {
  .hidden-xl-down {
    display: none !important;
  }
}

@media (min-width: $lg) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: $lg) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: $md) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: $md) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: $sm) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: $sm) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: $xs) {
  .hidden-xs-up {
    display: none !important;
  }
}

@media (max-width: $xs) {
  .hidden-xs-down {
    display: none !important;
  }
}
