.container {
  width: 100%;
  max-width: var(--container-size);
  min-height: 1px;
  margin: 0 auto;
  padding-right: var(--container-gutters);
  padding-left: var(--container-gutters);

  &.is-fluid {
    max-width: 100%;
  }
}
