.container {
  width: 100%;
  max-width: $container-size;
  min-height: 1px;
  margin: 0 auto;
  padding-right: $container-gutters;
  padding-left: $container-gutters;

  &.is-fluid {
    max-width: 100%;
  }
}
