.row {
  display: flex;
  flex-flow: row wrap;
  margin-left: -$gutters;
  margin-right: -$gutters;

  // Gutters
  &.no-gutters {
    margin-left: 0;
    margin-right: 0;

    > .col {
      padding-left: 0;
      padding-right: 0;
    }
  }

  // Justify
  &.is-justify-start {
    justify-content: flex-start;
  }

  &.is-justify-center {
    justify-content: center;
  }

  &.is-justify-right {
    justify-content: flex-end;
  }

  &.is-justify-around {
    justify-content: space-around;
  }

  &.is-justify-between {
    justify-content: space-between;
  }

  // Align
  &.is-align-start {
    align-items: flex-start;
  }

  &.is-align-center {
    align-items: center;
  }

  &.is-align-end {
    align-items: flex-end;
  }

  &.is-align-baseline {
    align-items: baseline;
  }
}
