<div class="dropdown topMenuWrap">
	<button
		type="button"
		class="but dropdownBut"
		data-toggle="dropdown"
		aria-haspopup="true"
		aria-expanded="false"
		data-display="static"
	>
			<span class="ico icoMenu">
				<span></span>
				<span></span>
				<span></span>
			</span>
	</button>

	<div
		class="dropdown-menu"
		aria-labelledby="Выпадающее меню"
	>
		<nav class="nav topMenu">
			<ul class="list level1 listFlex">
				<li class="active">
					<a href="#">Главная</a>
				</li>
				<li>
					<a href="#">О компании</a>

					<ul class="list level2">
						<li>
							<a href="">Подменю</a>
						</li>
						<li>
							<a href="">Подменю</a>
						</li>
						<li>
							<a href="">Подменю</a>
						</li>
						<li>
							<a href="">Подменю</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Контакты</a>
				</li>
			</ul>
		</nav>
	</div>
</div>