.form {
}

.formHeader,
.formBody,
.formGroup {
	position: relative;

	margin-bottom: 10px;
}

.fieldName {
	position: relative;

	display: block;
}

.fieldName + .field {
	margin-top: 5px;
}

.field {
	display: block;
	width: 100%;
	padding: 0;
	border: 0;

	transition: $transitionBase;

	outline: 0;
	background-color: #fff;
	border-radius: 0;
	
	&:not(select) {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	
	&:hover {}
	
	&:focus {}
}

.field::-webkit-input-placeholder {
	text-overflow: ellipsis;
	color: #aaa;
}

.field::-moz-placeholder {
	text-overflow: ellipsis;
	color: #aaa;
}

.field:-moz-placeholder {
	text-overflow: ellipsis;
	color: #aaa;
}

.field:-ms-input-placeholder {
	text-overflow: ellipsis;
	color: #aaa;
}

.field:focus::-webkit-input-placeholder {
	color: transparent
}

.field:focus::-moz-placeholder {
	color: transparent
}

.field:focus:-moz-placeholder {
	color: transparent
}

.field:focus:-ms-input-placeholder {
	color: transparent
}

/* Чекбокс */
.checkbox {
	position: relative;

	display: inline-block;

	input {
		position: absolute;
		overflow: hidden;
		height: 0;
		width: 0;
		visibility: hidden;
	}

	.checkboxText {
		display: block;
		padding-left: 20px;

		cursor: pointer;
	}

	.checkboxText:before {
		position: absolute;
		top: 2px;
		left: 0;

		width: 14px;
		height: 14px;
		border: 1px solid #000;

		background-color: #fff;
		border-radius: 1px;

		color: #000;
		text-align: center;
		line-height: 13px;
		font-size: 11px;
		font-weight: 600;

		content: '';
	}

	input:checked + .checkboxText:before {
		content: '✓';
	}
}

/* Радио */
.radio {
	position: relative;

	display: inline-block;
	min-height: 24px;

	input {
		position: absolute;
		overflow: hidden;
		height: 0;
		width: 0;
		visibility: hidden;
	}

	.checkboxText {
		display: block;
		padding-left: 35px;

		cursor: pointer;

		color: #000;
		font-size: 15px;
		font-weight: 600;
		line-height: 24px;

		&:before {
			position: absolute;
			top: 0;
			left: 0;

			width: 14px;
			height: 14px;
			border: 1px solid #000;

			background-color: #000;
			border-radius: 100%;

			color: #000;
			text-align: center;
			line-height: 13px;
			font-size: 11px;
			font-weight: 600;

			content: '';
		}

		&:after {
			position: absolute;
			top: 2px;
			left: 0;

			width: 14px;
			height: 14px;

			background-color: #000;
			border-radius: 100%;

			transform: scale(.3);
			opacity: 0;
			visibility: hidden;

			transition: $transitionBase;

			content: '';
		}
	}

	input:checked + .checkboxText {
		color: #000;

		&:after {
			opacity: 1;
			visibility: visible;
			transform: none;
		}
	}
}
