.container {
	position: relative;

	width: 100%;
	max-width: 1280px;
	min-height: 1px;
	margin: 0 auto;
	padding-left: $gutters;
	padding-right: $gutters;

	&.isSmall {
		max-width: 960px;
	}

	&.isLarge {
		max-width: 1366px;
	}
}

.row {
	display: flex;
	flex-flow: row wrap;
	margin-left: -$gutters;
	margin-right: -$gutters;
}

.rowNoWrap {
	flex-wrap: nowrap;
}

.noGutters {
	margin-right: 0;
	margin-left: 0;

	> .col {
		padding-right: 0;
		padding-left: 0;
	}
}

.guttersSmall {
	margin-left: -$guttersSmall;
	margin-right: -$guttersSmall;

	> .col {
		padding-right: $guttersSmall;
		padding-left: $guttersSmall;
	}
}

/* Горизонтальное выравнивание строки */
.rowLeft {
	justify-content: flex-start;
}

.rowCenter {
	justify-content: center;
}

.rowRight {
	justify-content: flex-end;
}

.rowAround {
	justify-content: space-around;
}

.rowBetween {
	justify-content: space-between;
}

/* Вертикальное выравнивание строки */
.rowTop {
	align-items: flex-start;
}

.rowMiddle {
	align-items: center;
}

.rowBot {
	align-items: flex-end;
}

.rowBaseline {
	align-items: baseline;
}

.col {
	position: relative;

	flex: 0 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	min-height: 1px;
	max-width: 100%;
}

/* Вертикальное выравнивание ячеек */
.colTop {
	align-self: flex-start;
}

.colMiddle {
	align-self: center;
}

.colBottom {
	align-self: flex-end;
}

.colDefault {
	flex: 0 0 auto;
}

.colAuto {
	flex: 1;
	max-width: none;
}

.colStretch {
	display: flex;

	align-items: stretch;
}

.col1 {
	flex-basis: $col1;
	max-width: $col1;
}

.col2 {
	flex-basis: $col2;
	max-width: $col2;
}

.col3 {
	flex-basis: $col3;
	max-width: $col3;
}

.col4 {
	flex-basis: $col4;
	max-width: $col4;
}

.col5 {
	flex-basis: $col5;
	max-width: $col5;
}

.col6 {
	flex-basis: $col6;
	max-width: $col6;
}

.col7 {
	flex-basis: $col7;
	max-width: $col7;
}

.col8 {
	flex-basis: $col8;
	max-width: $col8;
}

.col9 {
	flex-basis: $col9;
	max-width: $col9;
}

.col10 {
	flex-basis: $col10;
	max-width: $col10;
}

.col11 {
	flex-basis: $col11;
	max-width: $col11;
}

.col12 {
	flex-basis: $col12;
	max-width: $col12;
}

/* Смещение колонок */
.offset1 {
	margin-left: $col1;
}

.offset2 {
	margin-left: $col2;
}

.offset3 {
	margin-left: $col3;
}

.offset4 {
	margin-left: $col4;
}

.offset5 {
	margin-left: $col5;
}

.offset6 {
	margin-left: $col6;
}

.offset7 {
	margin-left: $col7;
}

.offset8 {
	margin-left: $col8;
}

.offset9 {
	margin-left: $col9;
}

.offset10 {
	margin-left: $col10;
}

.offset11 {
	margin-left: $col11;
}

/* Сортировка колонок */
.colFirst {
	order: -1;
}

.colLast {
	order: 1;
}

.colUnordered {
	order: 0;
}

@media (max-width: $mediaxlg) {
	.rowxlgCenter {
		justify-content: center;
	}

	.colxlgDefault {
		flex: 0 0 auto;
		max-width: none;
	}

	.colxlgAuto {
		flex: 1;
		max-width: none;
	}

	.colxlg1 {
		flex-basis: $col1;
		max-width: $col1;
	}

	.colxlg2 {
		flex-basis: $col2;
		max-width: $col2;
	}

	.colxlg3 {
		flex-basis: $col3;
		max-width: $col3;
	}

	.colxlg4 {
		flex-basis: $col4;
		max-width: $col4;
	}

	.colxlg5 {
		flex-basis: $col5;
		max-width: $col5;
	}

	.colxlg6 {
		flex-basis: $col6;
		max-width: $col6;
	}

	.colxlg7 {
		flex-basis: $col7;
		max-width: $col7;
	}

	.colxlg8 {
		flex-basis: $col8;
		max-width: $col8;
	}

	.colxlg9 {
		flex-basis: $col9;
		max-width: $col9;
	}

	.colxlg10 {
		flex-basis: $col10;
		max-width: $col10;
	}

	.colxlg11 {
		flex-basis: $col11;
		max-width: $col11;
	}

	.colxlg12 {
		flex-basis: $col12;
		max-width: $col12;
	}

	/* Смещение колонок */
	.offsetxlg1 {
		margin-left: $col1;
	}
	.offsetxlg2 {
		margin-left: $col2;
	}
	.offsetxlg3 {
		margin-left: $col3;
	}
	.offsetxlg4 {
		margin-left: $col4;
	}
	.offsetxlg5 {
		margin-left: $col5;
	}
	.offsetxlg6 {
		margin-left: $col6;
	}
	.offsetxlg7 {
		margin-left: $col7;
	}
	.offsetxlg8 {
		margin-left: $col8;
	}
	.offsetxlg9 {
		margin-left: $col9;
	}
	.offsetxlg10 {
		margin-left: $col10;
	}
	.offsetxlg11 {
		margin-left: $col11;
	}
	.offsetxlgNone {
		margin-left: 0;
	}

	/* Сортировка колонок */
	.colxlgFirst {
		order: -1;
	}

	.colxlgLast {
		order: 1;
	}

	.colxlgUnordered {
		order: 0;
	}
}

@media (max-width: $medialg) {
	.rowlgCenter {
		justify-content: center;
	}

	.collgDefault {
		flex: 0 0 auto;
		max-width: none;
	}

	.collgAuto {
		flex: 1;
		max-width: none;
	}

	.collg1 {
		flex-basis: $col1;
		max-width: $col1;
	}

	.collg2 {
		flex-basis: $col2;
		max-width: $col2;
	}

	.collg3 {
		flex-basis: $col3;
		max-width: $col3;
	}

	.collg4 {
		flex-basis: $col4;
		max-width: $col4;
	}

	.collg5 {
		flex-basis: $col5;
		max-width: $col5;
	}

	.collg6 {
		flex-basis: $col6;
		max-width: $col6;
	}

	.collg7 {
		flex-basis: $col7;
		max-width: $col7;
	}

	.collg8 {
		flex-basis: $col8;
		max-width: $col8;
	}

	.collg9 {
		flex-basis: $col9;
		max-width: $col9;
	}

	.collg10 {
		flex-basis: $col10;
		max-width: $col10;
	}

	.collg11 {
		flex-basis: $col11;
		max-width: $col11;
	}

	.collg12 {
		flex-basis: $col12;
		max-width: $col12;
	}

	/* Смещение колонок */
	.offsetlg1 {
		margin-left: $col1;
	}
	.offsetlg2 {
		margin-left: $col2;
	}
	.offsetlg3 {
		margin-left: $col3;
	}
	.offsetlg4 {
		margin-left: $col4;
	}
	.offsetlg5 {
		margin-left: $col5;
	}
	.offsetlg6 {
		margin-left: $col6;
	}
	.offsetlg7 {
		margin-left: $col7;
	}
	.offsetlg8 {
		margin-left: $col8;
	}
	.offsetlg9 {
		margin-left: $col9;
	}
	.offsetlg10 {
		margin-left: $col10;
	}
	.offsetlg11 {
		margin-left: $col11;
	}
	.offsetlgNone {
		margin-left: 0;
	}

	/* Сортировка колонок */
	.collgFirst {
		order: -1;
	}

	.collgLast {
		order: 1;
	}

	.collgUnordered {
		order: 0;
	}
}

@media (max-width: $mediamd) {
	.rowmdCenter {
		justify-content: center;
	}

	.colmdDefault {
		flex: 0 0 auto;
		max-width: none;
	}

	.colmdAuto {
		flex: 1;
		max-width: none;
	}

	.colmd1 {
		flex-basis: $col1;
		max-width: $col1;
	}

	.colmd2 {
		flex-basis: $col2;
		max-width: $col2;
	}

	.colmd3 {
		flex-basis: $col3;
		max-width: $col3;
	}

	.colmd4 {
		flex-basis: $col4;
		max-width: $col4;
	}

	.colmd5 {
		flex-basis: $col5;
		max-width: $col5;
	}

	.colmd6 {
		flex-basis: $col6;
		max-width: $col6;
	}

	.colmd7 {
		flex-basis: $col7;
		max-width: $col7;
	}

	.colmd8 {
		flex-basis: $col8;
		max-width: $col8;
	}

	.colmd9 {
		flex-basis: $col9;
		max-width: $col9;
	}

	.colmd10 {
		flex-basis: $col10;
		max-width: $col10;
	}

	.colmd11 {
		flex-basis: $col11;
		max-width: $col11;
	}

	.colmd12 {
		flex-basis: $col12;
		max-width: $col12;
	}

	/* Смещение колонок */
	.offsetmd1 {
		margin-left: $col1;
	}
	.offsetmd2 {
		margin-left: $col2;
	}
	.offsetmd3 {
		margin-left: $col3;
	}
	.offsetmd4 {
		margin-left: $col4;
	}
	.offsetmd5 {
		margin-left: $col5;
	}
	.offsetmd6 {
		margin-left: $col6;
	}
	.offsetmd7 {
		margin-left: $col7;
	}
	.offsetmd8 {
		margin-left: $col8;
	}
	.offsetmd9 {
		margin-left: $col9;
	}
	.offsetmd10 {
		margin-left: $col10;
	}
	.offsetmd11 {
		margin-left: $col11;
	}
	.offsetmdNone {
		margin-left: 0;
	}

	/* Сортировка колонок */
	.colmdFirst {
		order: -1;
	}

	.colmdLast {
		order: 1;
	}

	.colmdUnordered {
		order: 0;
	}
}

@media (max-width: $mediasm) {
	.rowsmCenter {
		justify-content: center;
	}

	.colsmDefault {
		flex: 0 0 auto;
		max-width: none;
	}

	.colsmAuto {
		flex: 1;
		max-width: none;
	}

	.colsm1 {
		flex-basis: $col1;
		max-width: $col1;
	}

	.colsm2 {
		flex-basis: $col2;
		max-width: $col2;
	}

	.colsm3 {
		flex-basis: $col3;
		max-width: $col3;
	}

	.colsm4 {
		flex-basis: $col4;
		max-width: $col4;
	}

	.colsm5 {
		flex-basis: $col5;
		max-width: $col5;
	}

	.colsm6 {
		flex-basis: $col6;
		max-width: $col6;
	}

	.colsm7 {
		flex-basis: $col7;
		max-width: $col7;
	}

	.colsm8 {
		flex-basis: $col8;
		max-width: $col8;
	}

	.colsm9 {
		flex-basis: $col9;
		max-width: $col9;
	}

	.colsm10 {
		flex-basis: $col10;
		max-width: $col10;
	}

	.colsm11 {
		flex-basis: $col11;
		max-width: $col11;
	}

	.colsm12 {
		flex-basis: $col12;
		max-width: $col12;
	}

	/* Смещение колонок */
	.offsetsm1 {
		margin-left: $col1;
	}
	.offsetsm2 {
		margin-left: $col2;
	}
	.offsetsm3 {
		margin-left: $col3;
	}
	.offsetsm4 {
		margin-left: $col4;
	}
	.offsetsm5 {
		margin-left: $col5;
	}
	.offsetsm6 {
		margin-left: $col6;
	}
	.offsetsm7 {
		margin-left: $col7;
	}
	.offsetsm8 {
		margin-left: $col8;
	}
	.offsetsm9 {
		margin-left: $col9;
	}
	.offsetsm10 {
		margin-left: $col10;
	}
	.offsetsm11 {
		margin-left: $col11;
	}
	.offsetsmNone {
		margin-left: 0;
	}

	/* Сортировка колонок */
	.colsmFirst {
		order: -1;
	}

	.colsmLast {
		order: 1;
	}

	.colsmUnordered {
		order: 0;
	}
}

@media (max-width: $mediaxsm) {
	.rowxsmCenter {
		justify-content: center;
	}

	.colxsmDefault {
		flex: 0 0 auto;
		max-width: none;
	}

	.colxsmAuto {
		flex: 1;
		max-width: none;
	}

	.colxsm1 {
		flex-basis: $col1;
		max-width: $col1;
	}

	.colxsm2 {
		flex-basis: $col2;
		max-width: $col2;
	}

	.colxsm3 {
		flex-basis: $col3;
		max-width: $col3;
	}

	.colxsm4 {
		flex-basis: $col4;
		max-width: $col4;
	}

	.colxsm5 {
		flex-basis: $col5;
		max-width: $col5;
	}

	.colxsm6 {
		flex-basis: $col6;
		max-width: $col6;
	}

	.colxsm7 {
		flex-basis: $col7;
		max-width: $col7;
	}

	.colxsm8 {
		flex-basis: $col8;
		max-width: $col8;
	}

	.colxsm9 {
		flex-basis: $col9;
		max-width: $col9;
	}

	.colxsm10 {
		flex-basis: $col10;
		max-width: $col10;
	}

	.colxsm11 {
		flex-basis: $col11;
		max-width: $col11;
	}

	.colxsm12 {
		flex-basis: $col12;
		max-width: $col12;
	}

	/* Смещение колонок */
	.offsetxsm1 {
		margin-left: $col1;
	}
	.offsetxsm2 {
		margin-left: $col2;
	}
	.offsetxsm3 {
		margin-left: $col3;
	}
	.offsetxsm4 {
		margin-left: $col4;
	}
	.offsetxsm5 {
		margin-left: $col5;
	}
	.offsetxsm6 {
		margin-left: $col6;
	}
	.offsetxsm7 {
		margin-left: $col7;
	}
	.offsetxsm8 {
		margin-left: $col8;
	}
	.offsetxsm9 {
		margin-left: $col9;
	}
	.offsetxsm10 {
		margin-left: $col10;
	}
	.offsetxsm11 {
		margin-left: $col11;
	}
	.offsetxsmNone {
		margin-left: 0;
	}

	/* Сортировка колонок */
	.colxsmFirst {
		order: -1;
	}

	.colxsmLast {
		order: 1;
	}

	.colxsmUnordered {
		order: 0;
	}
}
