.pagination {
	a {
		display: block;

		text-decoration: none;

		transition: $transitionBase;

		&.pagePrev {}
		&.pageNext {}
	}
}

.paginationArrows {

}

.pagination li:hover > a:not(.paginationArrows),
.pagination li.active > a:not(.paginationArrows) {
}