@media (min-width: $mediaxlg) {
	.hiddenxLgUp {
		display: none!important;
	}
}

@media (min-width: $medialg) {
	.hiddenLgUp {
		display: none!important;
	}
}

@media (min-width: $mediamd) {
	.hiddenMdUp {
		display: none!important;
	}
}

@media (min-width: $mediasm) {
	.hiddenSmUp {
		display: none!important;
	}
}

@media (min-width: $mediaxsm) {
	.hiddenxSmUp {
		display: none!important;
	}
}

@media (max-width: $mediaxsm) {
	.hiddenxSmDown {
		display: none!important;
	}
}

@media (max-width: $mediaxlg) {
	.hiddenxLgDown {
		display: none!important;
	}
}

@media (max-width: $medialg) {
	.hiddenLgDown {
		display: none!important;
	}
}

@media (max-width: $mediamd) {
	.hiddenMdDown {
		display: none!important;
	}
}

@media (max-width: $mediasm) {
	.hiddenSmDown {
		display: none!important;
	}
}
