body {
	min-height: 100vh;
	min-width: 320px;

	display: flex;

	flex-direction: column;
}

/* ============================ Шапка */
.header {
	
}

/* ============================ Логотип */
.logo {
	display: block;
	
	text-decoration: none;
}

/* ============================ Верхнее меню */
.topMenuWrap {
	> .dropdownBut {
		display: none;

		@media (max-width: $mediamd) {
			position: fixed;
			top: 10px;
			right: 10px;
			z-index: 1001;

			display: block;
			padding: 5px;
		}
	}

	.dropdown-menu {
		@media (min-width: $mediamd) {
			position: static;

			opacity: 1;
			visibility: visible;

			transform: none;
		}

		@media (max-width: $mediamd) {
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 1000;

			overflow: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;

			background: rgba(0, 0, 0, .3);

			transform: none;

			opacity: 0;
			visibility: hidden;

			&.show {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.topMenu {
	a {
		display: block;

		text-decoration: none;

		transition: $transitionBase;
	}

	@media (max-width: $mediamd) {
		height: 100%;
		width: 280px;
		padding: 15px;

		transition: $transitionBase;

		transform: translateX(-100%);

		background-color: #fff;

		.show & {
			transform: none;
		}
	}
}

/* Уровень 1 */ 
.topMenu {
	.level1 {
		> li {
			> a {

			}

			&:hover > a,
			&.active > a {
				text-decoration: underline;
			}

			&:hover {
				.level2 {
					opacity: 1;
					visibility: visible;

					transform: none;
				}
			}
		}

		@media (max-width: $mediamd) {
			flex-direction: column;
		}
	}

	.level2 {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;

		opacity: 0;
		visibility: hidden;

		transform: translateY(20px);

		transition: $transitionBase;

		@media (max-width: $mediamd) {
			position: static;

			opacity: 1;
			visibility: visible;

			transform: none;

			transition: none;

			border: 0;
			width: auto;
			display: none;
		}
	}
}

/* ============================ Основной блок */
.main {
	flex: 1;
}

/* ============================ Разметка колонок */
.mainLayout {
	display: flex;

	flex-direction: row;
}

/* ============================ Сайдбар */
.sidebarLeft {
	width: 300px;
	margin-right: 20px;
}

/* ============================ Левое меню */
.leftMenu a {
	display: block;
	
	text-decoration: none;

	transition: $transitionBase;
}

/* Уровень 1 */ 
.leftMenu .level1 > li > a {
	
}

.leftMenu .level1 > li:hover > a,
.leftMenu .level1 > li.active > a {
	text-decoration: underline;
}

/* ============================ Контент */
.content {
	flex: 1;
	max-width: calc(100% - 320px);
}

/* Заголовок страницы */
.pageTitle {}

/* ============================ Подвал */
.footer {
	
}

/* ============================ Нижнее меню */
.bottomMenu a {
	display: block;
	
	text-decoration: none;

	transition: $transitionBase;
}

/* Уровень 1 */ 
.bottomMenu .level1 > li > a {
	
}

.bottomMenu .level1 > li:hover > a,
.bottomMenu .level1 > li.active > a {
	text-decoration: underline;
}
