@media (max-width: $mediamd){
	/* Таблица корзины */
	.cartTable, .cartTable > tbody,
	.cartTable > tbody > tr,
	.cartTable > tbody > tr > th,
	.cartTable > tbody > tr > td,
	.cartTable > tfoot,
	.cartTable > tfoot > tr,
	.cartTable > tfoot > tr > th,
	.cartTable > tfoot > tr > td {
		display: block;
	}

	.cartTable > tbody > tr > th,
	.cartTable > tbody > tr > td,
	.cartTable > tbody > tr > td:first-child,
	.cartTable > tbody > tr > th:first-child,
	.cartTable > tbody > tr > th:last-child,
	.cartTable > tbody > tr > td:last-child {
		padding: 10px;
	}

	.cartTable {
		width: auto;
	}

	.cartTable > thead {
		display: none;
	}

	.cartItem {
		margin-bottom: 20px;

		border-radius: 2px;
		box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	}

	.cartTable > tbody > tr > td[data-title]:before {
		display: block;

		text-align: center;
		padding: 0 10px;
		font-weight: bold;
		content: attr(data-title);
	}

	.cartItemDelCol {
		position: absolute;
		top: 0;
		right: 0;
	}

	.cartItem:last-child {
		margin-bottom: 0;
	}
}
