@font-face {
  font-weight: normal;
  font-family: 'Roboto';
  font-style: normal;
  font-stretch: normal;
  src: local('Roboto'),
    local('Roboto-Regular'),
    url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Regular.woff') format('woff');
  font-display: swap;
}
