.main {
  flex: 1;

  &-layout {
    display: flex;
    flex-direction: row;
  }
}

/* ============================ Разметка колонок */
.sidebar {
  width: 300px;
  margin-right: 20px;
}

.content {
  flex: 1;
  max-width: calc(100% - 320px);
}
