.field {
  display: block;
  width: 100%;

  &__input {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    border-radius: 0;

    background-color: $color-white;

    outline: 0;

    transition: $transition-base;

    @include utils-appearance(none);

    &:hover {
    }

    &--datepicker {

    }

    &::-webkit-input-placeholder {
      color: #aaa;
      text-overflow: ellipsis;
    }

    &::-moz-placeholder {
      color: #aaa;
      text-overflow: ellipsis;
    }

    &:-moz-placeholder {
      color: #aaa;
      text-overflow: ellipsis;
    }

    &:-ms-input-placeholder {
      color: #aaa;
      text-overflow: ellipsis;
    }

    &:focus::-webkit-input-placeholder {
      color: transparent
    }

    &:focus::-moz-placeholder {
      color: transparent
    }

    &:focus:-moz-placeholder {
      color: transparent
    }

    &:focus:-ms-input-placeholder {
      color: transparent
    }
  }

  &__name {
    display: block;
    margin-bottom: 10px;

    cursor: pointer;
  }
}

.form-group {
  &.error {
    .field__input {
      border-color: red;
    }
  }
}
