.radio {
  position: relative;

  display: block;

  cursor: pointer;

  &__input {
    position: absolute;

    width: 0;
    height: 0;
    overflow: hidden;

    visibility: hidden;

    &:checked {
      + .radio__text {
        &:after {
          transform: none;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  &__text {
    display: block;
    padding-left: 35px;

    &:before {
      position: absolute;
      top: 0;
      left: 0;

      width: 16px;
      height: 16px;
      border: 1px solid $color-black;

      border-radius: $border-radius-circle;

      content: '';
    }

    &:after {
      position: absolute;
      top: 2px;
      left: 2px;

      width: 12px;
      height: 12px;
      border-radius: $border-radius-circle;

      background-color: $color-black;
      transform: scale(.3);
      visibility: hidden;

      opacity: 0;

      content: '';
    }
  }
}
