.dropdown {position: relative;}

.dropdownBlock {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;

  visibility: hidden;
  opacity: 0;

  transition: $transitionBase;

  transform: translateY(20px);
}

.open > .dropdownBlock {
  visibility: visible;
  opacity: 1;

  -webkit-transform: none;
  transform: none;
}
