.pagination {}

.pagination a {
  display: block;

  text-decoration: none;

  transition: $transitionBase;
}

.paginationArrows {}

.pagination a.pagePrev {}
.pagination a.pageNext {}

.pagination li:hover > a:not(.paginationArrows),
.pagination li.active > a:not(.paginationArrows) {}